<!DOCTYPE html>
<html ng-app='spotifyApp'>

<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <style>
        body {
            background-color: #191414;
        }
    </style>
</head>

<body ng-controller='authController'>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js'></script>
    <script type="text/javascript" src='https://code.angularjs.org/1.5.8/angular-cookies.js'></script>
    <script type="text/javascript" src='../../dist/js/bundle.js'></script>
</body>

</html>
