@import 'master';

.song-row {
    border-top: 0.25px solid $spotifyGridBorder;
    text-align: left;
    font-size: 22px;
    cursor: default;
}

.song-row:last-child{
  border-bottom:.25px solid $spotifyGridBorder;
  margin-bottom:40px;
}

.song-row:hover {
    background-color: $spotifyGridBorder;
}

#artist {
    color: $spotifyWhite;
    text-align: center;

    h3 {
        font-size: 28px;
        font-weight: bolder;
        line-height: 40px;
        margin-bottom:10px;
    }

    #profile-img {
        height: 300px;
        border-radius: 50%;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    #profile-name {
        font-size: 55px;
        font-weight: bolder;
    }

    .follow {
        background-color: $spotifyBlack;
        font-weight: 500;
        border: 1px solid $spotifyButtonBorder;
        font-variant: small-caps;
        width: 80%;
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 40px;
        transform: font-size 0.1s ease-in-out;
        padding-left: 35%;
        padding-right: 35%;
        cursor: pointer;
    }

    .follow-container {
        height: 40px;
    }

    .follow:hover {
        font-size: 27px;
        border-color: $spotifyWhite;
    }

    .unfollow {
        color: $spotifyGreen;
    }

    .fa {
        float: left;
        color: $spotifyAddButtonBeforeHover;
        transform: all 0.75s ease-in-out;
        line-height:40px;
        font-size:17px;
        font-weight: 500;
        padding-right:1.5vw;
        padding-left: 2vw;
    }

    .fa:hover {
        color: $spotifyWhite;
    }


    .row-image {
        margin: 0;
        padding: 0;
        display: inline;
        float: left;
    }

    .popularity {
        float: right;
    }

    .popular-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .main-container {
        text-align: left;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 33px;
    }

    .album-list-container {
        display: flex;
        flex-direction: column;
    }

    .single-album-container {
        display: flex;
        flex-direction: row;

        img{
          margin-bottom:20px;
        }
        .songs-container {
            display: flex;
            flex-direction: column;
        }

        .album-name {
            font-size: 33px;
            font-weight: bolder;
            margin-left: 25px;
            color:white;
        }

        .album-name:hover{
            text-decoration: underline;
        }
    }
    .track-title{
      line-height:40px;
      font-size:17px;
      font-weight: 500;
    }

    .number{
        color:$spotifyButtonBorder;
        font-size:14px;
        margin-left:10px;
        margin-right:25px;
        margin-bottom:10px;
    }
}
@media(min-width:700px) {
    #artist {
        #profile-img {
            height: 300px;
        }

        #profile-name {
            font-size: 70px;
        }

        .set-width {
            width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@media(min-width:1000px) {
    #artist {
        #profile-name {
            font-size: 80px;
        }
    }
}
