@import 'master';
#login, #search {
    position: relative;
    height: 100vh;
    width: 100vw;

    #large-button {
        font-family: Avenir;
        font-weight: 900;
        font-size: 30px;
        background-color: $spotifyGreen;
        border-radius: 90px;
        padding: 10px 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 350px;
        transform: translate(-50%, -20%);
        text-align: center;
        cursor: pointer;
    }

    #large-button:hover {
        background-color: $spotifyGreenHover;
    }

    #large-button:active {
        background-color: $spotifyGreenActive;
        color: $spotifyTextActive;
    }

    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 350px;
        transform: translate(-50%, -150%);
        line-height: 37px;
    }
}
@media(min-width:700px) {
    #login #large-button {
        min-width: 650px;
        font-size: 50px;
    }

    #login #text {
        font-weight: 600;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 350px;
        transform: translate(-50%, -150%);
        line-height: 37px;
    }
}
@media(min-width:1300px) {
    #login #text {
        font-size: 29px;
        font-weight: 600;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 350px;
        width:1000px;
        transform: translate(-50%, -220%);
        line-height: 37px;
    }
}
