$spotifyGreen: #1DB954;
$spotifyGreenHover: rgb(45,214,100);
$spotifyGreenActive: rgb(33,147,71);
$spotifyTextActive: rgb(188,199,192);
$spotifyBlack: rgb(25,20,20);
$spotifyWhite: rgb(246, 246, 246);
$spotifyButtonBorder: rgb(160,160,160);
$spotifyGridBorder : rgb(40,40,40);
$spotifyAddButtonBeforeHover : rgba(246, 246, 246, .7);

body {
    background-color: $spotifyBlack;
    color: $spotifyWhite;
    min-width: 453px;
    font-family: Avenir;
}

h1 {
    font-size: 70px;
    font-weight: 500;
    line-height: 60px;
    margin: 15px;
}

a {
    text-decoration: none;
}

p {
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

input {
    color: $spotifyBlack;
    background-color: $spotifyWhite;
    border: none;
    font-family: "Avenir";
    font-size: 29px;
    padding: 10px;
    border-radius: 3px;
    width: 90vw;
    margin: 1vh 2vw;
}

input:focus {
    outline-color: $spotifyGreen;
    outline-width: 8px;
}


.fa {
    cursor: pointer;
}

.button {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    background-color: $spotifyGreen;
    border-radius: 90px;
    padding: 10px 50px;
    transition: all 0.05s ease-in-out;
}

.button:hover {
    background-color: $spotifyGreenHover;
    font-size: 31px;
    cursor: pointer;
}

.button:active {
    background-color: $spotifyGreenActive;
    color: $spotifyTextActive;
}
