#recommend {
    text-align: center;
}

#recommend input {
    background-color: #f6f6f6;
    border: none;
    font-family: "Avenir";
    font-size: 29px;
    padding: 10px;
    border-radius: 3px;
    width: 90vw;
    margin: 1vh 2vw;
}

#recommend h1 {
    margin-top: 30px;
    font-size: 11vw;
}

#recommend p {
    font-size: 22px;
    font-weight: 100;
    line-height: normal;
    max-width: 400px;
    margin: 0 auto;
    transition: all .05s ease-in-out;
}

#recommend input:focus {
    outline-color: #1DB954;
    outline-width: 8px;
}

#recommend .button {
    margin-bottom: 50px;
}

#recommend .song-grid {}

#recommend .song-grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#recommend .fa {}

#recommend .info-card {
    background-color: #f6f6f6;
    border-radius: 5px;
    color: #191414;
    margin: 20px;
    padding-top: 60px;
    width: 95vw;
    max-width: 400px;
    height: 600px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#recommend .save {
    font-size: 25px;
    font-weight: lighter;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transition: all .05s ease-in-out;
    border: 4px double #f6f6f6;
    border-radius: 30px;
    color: #f6f6f6;
    padding:10px;
    background-color: #141919;
}
#recommend .info-card .card-title {
    font-size: 29px;
    font-weight: 600;
    padding-bottom: 8px;
}

#recommend .info-card .card-artist {
    font-size: 25px;
    margin-bottom: 15px;
}

#recommend #description {
    padding: 20px;
}

#recommend iframe {
    display: none;
}

@media(min-width:700px) {
    #recommend h1 {
        font-size: 70px;
    }
}

@media(min-width:1100px) {
    #recommend iframe {
        display: inline;
    }
    #recommend .input-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1400px;
        margin: 0 auto;
    }
    #recommend .button {
        font-size: 33px;
    }
    #recommend .button:hover {
        font-size: 34px;
    }
    #recommend .info-card {
        padding-top: 50px;
        height: 700px;
    }
}
