@import 'master';
@import 'artistStyle';
@import 'recommendStyle';

#search {
    p{
      max-width:800px;
      margin-bottom:15px;
    }
    header {
        width: 100%;
        text-align: center;

        input {
            width:90vw;
            margin: 0;
            font-size: 30px;
            max-width: 700px;
        }

        .button {
            display: block;
            max-width: 700px;
            width: 70vw;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        .container {
            height: 50px;
        }

        input[type=text]:focus {
            box-shadow: 0 0 3pt 2.5pt $spotifyGreen;
            outline: none;
        }
    }
    h2{
      font-size:40px;
      display: block;
      margin-top:50px;
      margin-left:11vw;
    }

    .section{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left:10vw;
      margin-right:10vw;

      .searchCard {
          display: flex;
          flex-direction: column;
          background-color: $spotifyArtistCard;
          border-radius:3px;
          margin:25px;

          img{
            margin-bottom:10px;
          }

          .title{
            font-size:20px;
            padding-bottom:10px;
            padding-left:10px;
          }

          a{
            color:$spotifyWhite;
          }
          a:hover{
            text-decoration: underline;
          }
      }
  }
  .track-area{
    width:90vw;
    margin-left:5vw;
    margin-right:5vw;
  }

  .track-container{
    margin:0;
  }

  .track-content{
    margin-left:0;
  }
  .song-artist{
    position: absolute;
    left:50vw;
    display: none;
  }
  .song-artist:hover, .song-album:hover{
    color:$spotifyWhite;
    text-decoration: underline;
    cursor: pointer;
  }

  .song-album{
    position:absolute;
    left:67vw;
    display:none;
  }

  .artistLink{
    padding:0;
    margin:0;
    text-decoration: none;
    color:inherit;
  }

  .artistLink:hover{
    text-decoration: underline;
  }
  .duration{
    position: static;
    float:right;
    padding-right:10px;
  }

  .number{
    position: static;
    float:left;
    display:none;
  }
  .song-name{
    position: static;
  }

  .fa{
    position:static;
    padding-right:20px;
    padding-left:10px;
  }

}

@media(min-width:800px){
  #search{
    .number{
      display:inline;
    }
    .track-area{
      width:75vw;
      margin-left:12.5vw;
      margin-right:12.5vw;
    }
    input{
      width: 67vw;
    }
  }
}
@media(min-width:1000px){
  #search{
    .song-name{
      left:300px;
    }

    .song-artist{
      display:inline;
    }

    .song-album{
      display:inline;
    }
    .duration{
      right:250px;
    }
  }
}
