<div id='recommend'>
    <h1>Recommendations</h1>
    <div id='description'>
        <p>Enter some artists, songs, and genres. You'll get a list of similar songs that you can save to your account.</p>
    </div>
    <div class='input-container'>
        <input type="text" name="artist" value="" placeholder="Artist" ng-model='artistName'>
        <input type="text" name="song" value="" placeholder="Song" ng-model='songName'>
        <input type="text" name="genre" value="" placeholder="Genre" ng-model='genreName'>
    </div>
    <h1><a class='button' ng-click='getRecommendations(songName, artistName, genreName)'>Get Recommendations</a></h1>
    <div class="song-grid-container">
        <div ng-repeat='rec in recommendations' class='song-grid'>
            <div class='info-card'>
                <p class='card-title'>{{ rec.name }}</p>
                <p class='card-artist'>{{ rec.artistInfo.name }}</p>
                <img ng-src='{{rec.albumImg}}' width='300' height='300'>
                <p>Popularity: {{ rec.popularity}}</p>
                <a ng-href='{{rec.preview}}'>Preview</a>
                <a ng-click='saveSong(rec.id)'>Save</a>
                <iframe ng-class='' ng-src="{{rec.uri | trustAsResourceUrl}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>
