<div id='artist'>
    <img id='profile-img' ng-src='{{artistInfo.image.url}}'><br/>
    <h1 id='profile-name'>{{ artistInfo.name }}</h1>
    <h1><div class='set-width' ng-hide='artistInfo.alreadyFollowing'><a ng-click='artistInfo.alreadyFollowing = !artistInfo.alreadyFollowing; follow()' class='follow'>follow</a></span></h1>
    <h1><div class='set-width' ng-hide='!artistInfo.alreadyFollowing'><a ng-click='artistInfo.alreadyFollowing = !artistInfo.alreadyFollowing; unfollow()' class='follow unfollow'>unfollow</a></span></h1>
    <!-- Genres:
  <div ng-repeat='genre in artistInfo.genres'>
    {{ genre }}
  </div>
  Popularity : {{ artistInfo.popularity }}
  <br/> -->
    <div class='popular-container'>
        <h3>Popular</h3>
        <div class='song-row' ng-repeat='track in artistInfo.topTracks'>
            <img class='row-image' ng-src='{{track.album.images[0].url}}' height='40px'>
            <!-- <span class='number'>{{$index + 1}}</span> -->
            <i ng-click='track.alreadySaved = !track.alreadySaved; removeSong(track.id)' ng-hide='!track.alreadySaved' class='fa fa-check'></i>
            <i ng-click='track.alreadySaved = !track.alreadySaved; saveSong(track.id)' ng-hide='track.alreadySaved' class='fa fa-plus'></i>
            <span class='track-title'>{{ track.name }}<span class='popularity'>{{track.popularity}}</span></span>
        </div>
    </div>
    <div class='main-container'>
        <h3>Albums</h3>
        <div class='album-list-container' ng-repeat='album in artistInfo.albums'>
            <div class='single-album-container'>
                <a ui-sref='album({id: album.id})'><img height='150px' ng-src='{{album.images[1].url}}'></a>
                <a ui-sref='album({id: album.id})'><span class='album-name'>{{album.name}}</span></a>
            </div>
            <div class='song-row' ng-repeat='title in album.tracks.items'>
              <span class='number'>{{ $index + 1 }}</span><span class='track-title'>{{title.name}}</span>
            </div>
        </div>
    </div>
</div>
